{% extends "layout.html" %}

{% block title %}
  <ul>
    <li><a class="nav-link" style="padding-bottom: 39%;" href="/">Home</a></li>
    <li><a class="nav-link" href="/map">Map</a></li>
    <li><a class="nav-link" href="/personal-portal">Medical Portal</a></li>
    <li><a class="nav-link" href="/signup">Sign Up</a></li>
    <li><a class="nav-link scrollto active" href="/login">Log In</a></li>
  </ul>
{% endblock %}

{% block content %}

  <section id="login" class="padd-section text-center">

    <div class="container mt-5">
      <div class="section-title text-center">
        <h2>Log In</h2>
      </div>

      <form method="POST" action="/login">
        <div class="form-group col-lg-5 mx-auto">
          <strong>Email address</strong>
          <input type="email" class="form-control mt-1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        </div>
        <br>
        <div class="form-group col-lg-5 mx-auto">
          <strong>Password</strong>
          <input type="password" class="form-control mt-1" placeholder="Enter Password" name="password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </section>
  
{% endblock %}